body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #444d92;
  outline: none;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-submit {
  padding: 6px;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-principal {
  background-color: #2635db;
  color: white;
  margin-right: 10px;
}

.btn-submit:not(.btn-principal) {
  background-color: #13e100;
}

.btn-submit:hover {
  transform: scale(1.05);
  background-color: navy;
}

.btn-secundario{
  padding: 6px;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
  background-color:#ff0000;
} 

.btn-secundario:hover{
  transform: scale(1.05);
  background-color:navy;
}
#mensagem-status {
  padding:15px;
  margin-bottom:20px;
  border-radius:5px;
  font-weight:bold;
  display:none;
}
#mensagem-status.sucesso{
  display:block;
  background-color:#d4c1d4;
  color:#d8abb0;
  border:1px solid #f5c6cb;
}

#mensagem-status.erro{
  display:block;
  background-color:#f8d7f8;
  color:#721c24;
  border:1px solid #f5c6cb;
}